  <aside class="bg-dark" id="cv-resume">
      <div class="container text-center">
        <!-- <div class="call-to-action">
            <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>
        </div> -->
        <div class="call-to-action">
          <a href="pdf/CookCV.pdf" class="btn btn-default btn-xl wow tada" target="_blank">CV</a>
          <hr>
          <a href="pdf/CookResume.pdf" class="btn btn-default btn-xl wow tada" target="_blank">Resume</a>
        </div>
      </div>
  </aside>
