<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <!-- <div class="row no-gutter test-center"> -->
        <div class="new-portfolio-container">
            <!--ORIGINAL STRUCTURE
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Game Design
                            </div>
                            <div class="project-name">
                                3D Engine
                            </div>
                        </div>
                    </div>
                </a>
            </div>-->
            <div class="portfolio-element">
                <button class="collapsible portfolio-box">
                    <img src="img/portfolio/{{ site.project01_img }}" class="img-responsive img-contain" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.project01_category }}
                            </div>
                            <div class="project-name">
                                {{ site.project01_name }}
                            </div>
                        </div>
                    </div>
                </button>
                <div class="content">
                    <p class="content_text">{{ site.project01_description }}</p>
                    <p class="content_date">{{ site.project01_date }}</p>
                </div>
            </div>
            <div class="portfolio-element">
                <button class="collapsible portfolio-box">
                    <img src="img/portfolio/{{ site.project02_img }}" class="img-responsive img-contain" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.project02_category }}
                            </div>
                            <div class="project-name">
                                {{ site.project02_name }}
                            </div>
                        </div>
                    </div>
                </button>
                <div class="content">
                    <p class="content_text">{{ site.project02_description }}</p>
                    <p class="content_date">{{ site.project02_date }}</p>
                </div>
            </div>
            <div class="portfolio-element">
                <button class="collapsible portfolio-box">
                    <img src="img/portfolio/{{ site.project03_img }}" class="img-responsive img-contain" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.project03_category }}
                            </div>
                            <div class="project-name">
                                {{ site.project03_name }}
                            </div>
                        </div>
                    </div>
                </button>
                <div class="content">
                    <p class="content_text">{{ site.project03_description }}</p>
                    <p class="content_date">{{ site.project03_date }}</p>
                </div>
            </div>
            <div class="portfolio-element">
                <button class="collapsible portfolio-box">
                    <img src="img/portfolio/{{ site.project04_img }}" class="img-responsive img-contain" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.project04_category }}
                            </div>
                            <div class="project-name">
                                {{ site.project04_name }}
                            </div>
                        </div>
                    </div>
                </button>
                <div class="content">
                    <p class="content_text">{{ site.project04_description }}</p>
                    <p class="content_date">{{ site.project04_date }}</p>
                </div>
            </div>
            <div class="portfolio-element">
                <button class="collapsible portfolio-box">
                    <img src="img/portfolio/{{ site.project05_img }}" class="img-responsive img-contain" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.project05_category }}
                            </div>
                            <div class="project-name">
                                {{ site.project05_name }}
                            </div>
                        </div>
                    </div>
                </button>
                <div class="content">
                    <p class="content_text">{{ site.project05_description }}</p>
                    <p class="content_date">{{ site.project05_date }}</p>
                </div>
            </div>
            <div class="portfolio-element">
                <button class="collapsible portfolio-box">
                    <img src="img/portfolio/{{ site.project06_img }}" class="img-responsive img-contain" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.project06_category }}
                            </div>
                            <div class="project-name">
                                {{ site.project06_name }}
                            </div>
                        </div>
                    </div>
                </button>
                <div class="content">
                    <p class="content_text">{{ site.project06_description }}</p>
                    <p class="content_date">{{ site.project06_date }}</p>
                </div>
            </div>
            <div class="portfolio-element">
                <button class="collapsible portfolio-box">
                    <img src="img/portfolio/{{ site.project07_img }}" class="img-responsive img-contain" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.project07_category }}
                            </div>
                            <div class="project-name">
                                {{ site.project07_name }}
                            </div>
                        </div>
                    </div>
                </button>
                <div class="content">
                    <p class="content_text">{{ site.project07_description }}</p>
                    <p class="content_date">{{ site.project07_date }}</p>
                </div>
            </div>
            <div class="portfolio-element">
                <button class="collapsible portfolio-box">
                    <img src="img/portfolio/{{ site.project08_img }}" class="img-responsive img-contain" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.project08_category }}
                            </div>
                            <div class="project-name">
                                {{ site.project08_name }}
                            </div>
                        </div>
                    </div>
                </button>
                <div class="content">
                    <p class="content_text">{{ site.project08_description }}</p>
                    <p class="content_date">{{ site.project08_date }}</p>
                </div>
            </div>
            <div class="portfolio-element">
                <button class="collapsible portfolio-box">
                    <img src="img/portfolio/{{ site.project09_img }}" class="img-responsive img-contain" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.project09_category }}
                            </div>
                            <div class="project-name">
                                {{ site.project09_name }}
                            </div>
                        </div>
                    </div>
                </button>
                <div class="content">
                    <p class="content_text">{{ site.project09_description }}</p>
                    <p class="content_date">{{ site.project09_date }}</p>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        } 
      });
    }
</script>