<section class="no-padding" id="portfolio">
    <div class="container-fluid" id="container-fluid">
        <!-- <div class="row no-gutter test-center"> -->
        <div class="new-portfolio-container" id="new-portfolio-container">
            <!--ORIGINAL STRUCTURE
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Game Design
                            </div>
                            <div class="project-name">
                                3D Engine
                            </div>
                        </div>
                    </div>
                </a>
            </div>-->
            <div class="portfolio-element">
                <button class="collapsible portfolio-box">
                    <img src="img/portfolio/folio/{{ site.project01_imgs }}" class="img-responsive img-contain img-static" alt="">
                    <img src="img/portfolio/folio-demo/{{ site.project01_img }}" class="img-responsive img-contain img-gif" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.project01_category }}
                            </div>
                            <div class="project-name">
                                {{ site.project01_name }}
                            </div>
                        </div>
                    </div>
                </button>
                <div class="content">
                    <div class="content-project-container">
                        <div class="content-project-category">
                            {{ site.project01_category }}
                        </div>
                        <div class="content-project-name">
                            {{ site.project01_name }}
                        </div>
                    </div>
                    <div class="content-container">
                        <p class="content_text">{{ site.project01_description }}</p>
                        <p class="content_date">{{ site.project01_date }}</p>
                    </div>
                </div>
            </div>
            <div class="portfolio-element">
                <button class="collapsible portfolio-box">
                    <img src="img/portfolio/folio/{{ site.project02_imgs }}" class="img-responsive img-contain img-static" alt="">
                    <img src="img/portfolio/folio-demo/{{ site.project02_img }}" class="img-responsive img-contain img-gif" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.project02_category }}
                            </div>
                            <div class="project-name">
                                {{ site.project02_name }}
                            </div>
                        </div>
                    </div>
                </button>
                <div class="content">
                    <div class="content-project-container">
                        <div class="content-project-category">
                            {{ site.project02_category }}
                        </div>
                        <div class="content-project-name">
                            {{ site.project02_name }}
                        </div>
                    </div>
                    <div class="content-container">
                        <p class="content_text">{{ site.project02_description }}</p>
                        <p class="content_date">{{ site.project02_date }}</p>
                    </div>
                </div>
            </div>
            <div class="portfolio-element">
                <button class="collapsible portfolio-box">
                    <img src="img/portfolio/folio/{{ site.project03_imgs }}" class="img-responsive img-contain img-static" alt="">
                    <img src="img/portfolio/folio-demo/{{ site.project03_img }}" class="img-responsive img-contain img-gif" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.project03_category }}
                            </div>
                            <div class="project-name">
                                {{ site.project03_name }}
                            </div>
                        </div>
                    </div>
                </button>
                <div class="content">
                    <div class="content-project-container">
                        <div class="content-project-category">
                            {{ site.project03_category }}
                        </div>
                        <div class="content-project-name">
                            {{ site.project03_name }}
                        </div>
                    </div>
                    <div class="content-container">
                        <p class="content_text">{{ site.project03_description }}</p>
                        <p class="content_date">{{ site.project03_date }}</p>
                    </div>
                </div>
            </div>
            <div class="portfolio-element">
                <button class="collapsible portfolio-box">
                    <img src="img/portfolio/folio/{{ site.project04_imgs }}" class="img-responsive img-contain img-static" alt="">
                    <img src="img/portfolio/folio-demo/{{ site.project04_img }}" class="img-responsive img-contain img-gif" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.project04_category }}
                            </div>
                            <div class="project-name">
                                {{ site.project04_name }}
                            </div>
                        </div>
                    </div>
                </button>
                <div class="content">
                    <div class="content-project-container">
                        <div class="content-project-category">
                            {{ site.project04_category }}
                        </div>
                        <div class="content-project-name">
                            {{ site.project04_name }}
                        </div>
                    </div>
                    <div class="content-container">
                        <p class="content_text">{{ site.project04_description }}</p>
                        <p class="content_date">{{ site.project04_date }}</p>
                    </div>
                </div>
            </div>
            <div class="portfolio-element">
                <button class="collapsible portfolio-box">
                    <img src="img/portfolio/folio/{{ site.project05_imgs }}" class="img-responsive img-contain img-static" alt="">
                    <img src="img/portfolio/folio-demo/{{ site.project05_img }}" class="img-responsive img-contain img-gif" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.project05_category }}
                            </div>
                            <div class="project-name">
                                {{ site.project05_name }}
                            </div>
                        </div>
                    </div>
                </button>
                <div class="content">
                    <div class="content-project-container">
                        <div class="content-project-category">
                            {{ site.project05_category }}
                        </div>
                        <div class="content-project-name">
                            {{ site.project05_name }}
                        </div>
                    </div>
                    <div class="content-container">
                        <p class="content_text">{{ site.project05_description }}</p>
                        <p class="content_date">{{ site.project05_date }}</p>
                    </div>
                </div>
            </div>
            <div class="portfolio-element">
                <button class="collapsible portfolio-box">
                    <img src="img/portfolio/folio/{{ site.project06_imgs }}" class="img-responsive img-contain img-static" alt="">
                    <img src="img/portfolio/folio-demo/{{ site.project06_img }}" class="img-responsive img-contain img-gif" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.project06_category }}
                            </div>
                            <div class="project-name">
                                {{ site.project06_name }}
                            </div>
                        </div>
                    </div>
                </button>
                <div class="content">
                    <div class="content-project-container">
                        <div class="content-project-category">
                            {{ site.project06_category }}
                        </div>
                        <div class="content-project-name">
                            {{ site.project06_name }}
                        </div>
                    </div>
                    <div class="content-container">
                        <p class="content_text">{{ site.project06_description }}</p>
                        <p class="content_date">{{ site.project06_date }}</p>
                    </div>
                </div>
            </div>
            <div class="portfolio-element">
                <button class="collapsible portfolio-box">
                    <img src="img/portfolio/folio/{{ site.project07_imgs }}" class="img-responsive img-contain img-static" alt="">
                    <img src="img/portfolio/folio-demo/{{ site.project07_img }}" class="img-responsive img-contain img-gif" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.project07_category }}
                            </div>
                            <div class="project-name">
                                {{ site.project07_name }}
                            </div>
                        </div>
                    </div>
                </button>
                <div class="content">
                    <div class="content-project-container">
                        <div class="content-project-category">
                            {{ site.project07_category }}
                        </div>
                        <div class="content-project-name">
                            {{ site.project07_name }}
                        </div>
                    </div>
                    <div class="content-container">
                        <p class="content_text">{{ site.project07_description }}</p>
                        <p class="content_date">{{ site.project07_date }}</p>
                    </div>
                </div>
            </div>
            <div class="portfolio-element">
                <button class="collapsible portfolio-box">
                    <img src="img/portfolio/folio/{{ site.project08_imgs }}" class="img-responsive img-contain img-static" alt="">
                    <img src="img/portfolio/folio-demo/{{ site.project08_img }}" class="img-responsive img-contain img-gif" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.project08_category }}
                            </div>
                            <div class="project-name">
                                {{ site.project08_name }}
                            </div>
                        </div>
                    </div>
                </button>
                <div class="content">
                    <div class="content-project-container">
                        <div class="content-project-category">
                            {{ site.project08_category }}
                        </div>
                        <div class="content-project-name">
                            {{ site.project08_name }}
                        </div>
                    </div>
                    <div class="content-container">
                        <p class="content_text">{{ site.project08_description }}</p>
                        <p class="content_date">{{ site.project08_date }}</p>
                    </div>
                </div>
            </div>
            <div class="portfolio-element">
                <button class="collapsible portfolio-box">
                    <img src="img/portfolio/folio/{{ site.project09_imgs }}" class="img-responsive img-contain img-static" alt="">
                    <img src="img/portfolio/folio-demo/{{ site.project09_img }}" class="img-responsive img-contain img-gif" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.project09_category }}
                            </div>
                            <div class="project-name">
                                {{ site.project09_name }}
                            </div>
                        </div>
                    </div>
                </button>
                <div class="content">
                    <div class="content-project-container">
                        <div class="content-project-category">
                            {{ site.project09_category }}
                        </div>
                        <div class="content-project-name">
                            {{ site.project09_name }}
                        </div>
                    </div>
                    <div class="content-container">
                        <p class="content_text">{{ site.project09_description }}</p>
                        <p class="content_date">{{ site.project09_date }}</p>
                    </div>
                </div>
            </div>
            <div class="portfolio-element">
                <button class="collapsible portfolio-box">
                    <img src="img/portfolio/folio/{{ site.project10_imgs }}" class="img-responsive img-contain img-static" alt="">
                    <img src="img/portfolio/folio-demo/{{ site.project10_img }}" class="img-responsive img-contain img-gif" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.project10_category }}
                            </div>
                            <div class="project-name">
                                {{ site.project10_name }}
                            </div>
                        </div>
                    </div>
                </button>
                <div class="content">
                    <div class="content-project-container">
                        <div class="content-project-category">
                            {{ site.project10_category }}
                        </div>
                        <div class="content-project-name">
                            {{ site.project10_name }}
                        </div>
                    </div>
                    <div class="content-container">
                        <p class="content_text">{{ site.project10_description }}</p>
                        <p class="content_date">{{ site.project10_date }}</p>
                    </div>
                </div>
            </div>
            <div class="portfolio-element">
                <button class="collapsible portfolio-box">
                    <img src="img/portfolio/folio/{{ site.project11_imgs }}" class="img-responsive img-contain img-static" alt="">
                    <img src="img/portfolio/folio-demo/{{ site.project11_img }}" class="img-responsive img-contain img-gif" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.project11_category }}
                            </div>
                            <div class="project-name">
                                {{ site.project11_name }}
                            </div>
                        </div>
                    </div>
                </button>
                <div class="content">
                    <div class="content-project-container">
                        <div class="content-project-category">
                            {{ site.project11_category }}
                        </div>
                        <div class="content-project-name">
                            {{ site.project11_name }}
                        </div>
                    </div>
                    <div class="content-container">
                        <p class="content_text">{{ site.project11_description }}</p>
                        <p class="content_date">{{ site.project11_date }}</p>
                    </div>
                </div>
            </div>
            <div class="portfolio-element">
                <button class="collapsible portfolio-box">
                    <img src="img/portfolio/folio/{{ site.project12_imgs }}" class="img-responsive img-contain img-static" alt="">
                    <img src="img/portfolio/folio-demo/{{ site.project12_img }}" class="img-responsive img-contain img-gif" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.project12_category }}
                            </div>
                            <div class="project-name">
                                {{ site.project12_name }}
                            </div>
                        </div>
                    </div>
                </button>
                <div class="content">
                    <div class="content-project-container">
                        <div class="content-project-category">
                            {{ site.project12_category }}
                        </div>
                        <div class="content-project-name">
                            {{ site.project12_name }}
                        </div>
                    </div>
                    <div class="content-container">
                        <p class="content_text">{{ site.project12_description }}</p>
                        <p class="content_date">{{ site.project12_date }}</p>
                    </div>
                </div>
            </div>
            <div class="portfolio-element">
                <button class="collapsible portfolio-box">
                    <img src="img/portfolio/folio/{{ site.project13_imgs }}" class="img-responsive img-contain img-static" alt="">
                    <img src="img/portfolio/folio-demo/{{ site.project13_img }}" class="img-responsive img-contain img-gif" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.project13_category }}
                            </div>
                            <div class="project-name">
                                {{ site.project13_name }}
                            </div>
                        </div>
                    </div>
                </button>
                <div class="content">
                    <div class="content-project-container">
                        <div class="content-project-category">
                            {{ site.project13_category }}
                        </div>
                        <div class="content-project-name">
                            {{ site.project13_name }}
                        </div>
                    </div>
                    <div class="content-container">
                        <p class="content_text">{{ site.project13_description }}</p>
                        <p class="content_date">{{ site.project13_date }}</p>
                    </div>
                </div>
            </div>
            <div class="portfolio-element">
                <button class="collapsible portfolio-box">
                    <img src="img/portfolio/folio/{{ site.project14_imgs }}" class="img-responsive img-contain img-static" alt="">
                    <img src="img/portfolio/folio-demo/{{ site.project14_img }}" class="img-responsive img-contain img-gif" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.project14_category }}
                            </div>
                            <div class="project-name">
                                {{ site.project14_name }}
                            </div>
                        </div>
                    </div>
                </button>
                <div class="content">
                    <div class="content-project-container">
                        <div class="content-project-category">
                            {{ site.project14_category }}
                        </div>
                        <div class="content-project-name">
                            {{ site.project14_name }}
                        </div>
                    </div>
                    <div class="content-container">
                        <p class="content_text">{{ site.project14_description }}</p>
                        <p class="content_date">{{ site.project14_date }}</p>
                    </div>
                </div>
            </div>
            <div class="portfolio-element">
                <button class="collapsible portfolio-box">
                    <img src="img/portfolio/folio/{{ site.project15_imgs }}" class="img-responsive img-contain img-static" alt="">
                    <img src="img/portfolio/folio-demo/{{ site.project15_img }}" class="img-responsive img-contain img-gif" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.project15_category }}
                            </div>
                            <div class="project-name">
                                {{ site.project15_name }}
                            </div>
                        </div>
                    </div>
                </button>
                <div class="content">
                    <div class="content-project-container">
                        <div class="content-project-category">
                            {{ site.project15_category }}
                        </div>
                        <div class="content-project-name">
                            {{ site.project15_name }}
                        </div>
                    </div>
                    <div class="content-container">
                        <p class="content_text">{{ site.project15_description }}</p>
                        <p class="content_date">{{ site.project15_date }}</p>
                    </div>
                </div>
            </div>
            <div class="portfolio-element">
                <button class="collapsible portfolio-box">
                    <img src="img/portfolio/folio/{{ site.project16_imgs }}" class="img-responsive img-contain img-static" alt="">
                    <img src="img/portfolio/folio-demo/{{ site.project16_img }}" class="img-responsive img-contain img-gif" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.project16_category }}
                            </div>
                            <div class="project-name">
                                {{ site.project16_name }}
                            </div>
                        </div>
                    </div>
                </button>
                <div class="content">
                    <div class="content-project-container">
                        <div class="content-project-category">
                            {{ site.project16_category }}
                        </div>
                        <div class="content-project-name">
                            {{ site.project16_name }}
                        </div>
                    </div>
                    <div class="content-container">
                        <p class="content_text">{{ site.project16_description }}</p>
                        <p class="content_date">{{ site.project16_date }}</p>
                    </div>
                </div>
            </div>
            <div class="portfolio-element">
                <button class="collapsible portfolio-box">
                    <img src="img/portfolio/folio/{{ site.project17_imgs }}" class="img-responsive img-contain img-static" alt="">
                    <img src="img/portfolio/folio-demo/{{ site.project17_img }}" class="img-responsive img-contain img-gif" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.project17_category }}
                            </div>
                            <div class="project-name">
                                {{ site.project17_name }}
                            </div>
                        </div>
                    </div>
                </button>
                <div class="content">
                    <div class="content-project-container">
                        <div class="content-project-category">
                            {{ site.project17_category }}
                        </div>
                        <div class="content-project-name">
                            {{ site.project17_name }}
                        </div>
                    </div>
                    <div class="content-container">
                        <p class="content_text">{{ site.project17_description }}</p>
                        <p class="content_date">{{ site.project17_date }}</p>
                    </div>
                </div>
            </div>
            <div class="portfolio-element">
                <button class="collapsible portfolio-box">
                    <img src="img/portfolio/folio/{{ site.project18_imgs }}" class="img-responsive img-contain img-static" alt="">
                    <img src="img/portfolio/folio-demo/{{ site.project18_img }}" class="img-responsive img-contain img-gif" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.project18_category }}
                            </div>
                            <div class="project-name">
                                {{ site.project18_name }}
                            </div>
                        </div>
                    </div>
                </button>
                <div class="content">
                    <div class="content-project-container">
                        <div class="content-project-category">
                            {{ site.project18_category }}
                        </div>
                        <div class="content-project-name">
                            {{ site.project18_name }}
                        </div>
                    </div>
                    <div class="content-container">
                        <p class="content_text">{{ site.project18_description }}</p>
                        <p class="content_date">{{ site.project18_date }}</p>
                    </div>
                </div>
            </div>
            <div class="portfolio-element">
                <button class="collapsible portfolio-box">
                    <img src="img/portfolio/folio/{{ site.project19_imgs }}" class="img-responsive img-contain img-static" alt="">
                    <img src="img/portfolio/folio-demo/{{ site.project19_img }}" class="img-responsive img-contain img-gif" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.project19_category }}
                            </div>
                            <div class="project-name">
                                {{ site.project19_name }}
                            </div>
                        </div>
                    </div>
                </button>
                <div class="content">
                    <div class="content-project-container">
                        <div class="content-project-category">
                            {{ site.project19_category }}
                        </div>
                        <div class="content-project-name">
                            {{ site.project19_name }}
                        </div>
                    </div>
                    <div class="content-container">
                        <p class="content_text">{{ site.project19_description }}</p>
                        <p class="content_date">{{ site.project19_date }}</p>
                    </div>
                </div>
            </div>
            <div class="portfolio-element">
                <button class="collapsible portfolio-box">
                    <img src="img/portfolio/folio/{{ site.project20_imgs }}" class="img-responsive img-contain img-static" alt="">
                    <img src="img/portfolio/folio-demo/{{ site.project20_img }}" class="img-responsive img-contain img-gif" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.project20_category }}
                            </div>
                            <div class="project-name">
                                {{ site.project20_name }}
                            </div>
                        </div>
                    </div>
                </button>
                <div class="content">
                    <div class="content-project-container">
                        <div class="content-project-category">
                            {{ site.project20_category }}
                        </div>
                        <div class="content-project-name">
                            {{ site.project20_name }}
                        </div>
                    </div>
                    <div class="content-container">
                        <p class="content_text">{{ site.project20_description }}</p>
                        <p class="content_date">{{ site.project20_date }}</p>
                    </div>
                </div>
            </div>
            <div class="portfolio-element">
                <button class="collapsible portfolio-box">
                    <img src="img/portfolio/folio/{{ site.project21_imgs }}" class="img-responsive img-contain img-static" alt="">
                    <img src="img/portfolio/folio-demo/{{ site.project21_img }}" class="img-responsive img-contain img-gif" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.project21_category }}
                            </div>
                            <div class="project-name">
                                {{ site.project21_name }}
                            </div>
                        </div>
                    </div>
                </button>
                <div class="content">
                    <div class="content-project-container">
                        <div class="content-project-category">
                            {{ site.project21_category }}
                        </div>
                        <div class="content-project-name">
                            {{ site.project21_name }}
                        </div>
                    </div>
                    <div class="content-container">
                        <p class="content_text">{{ site.project21_description }}</p>
                        <p class="content_date">{{ site.project21_date }}</p>
                    </div>
                </div>
            </div>
            <div class="portfolio-element">
                <button class="collapsible portfolio-box">
                    <img src="img/portfolio/folio/{{ site.project22_imgs }}" class="img-responsive img-contain img-static" alt="">
                    <img src="img/portfolio/folio-demo/{{ site.project22_img }}" class="img-responsive img-contain img-gif" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.project22_category }}
                            </div>
                            <div class="project-name">
                                {{ site.project22_name }}
                            </div>
                        </div>
                    </div>
                </button>
                <div class="content">
                    <div class="content-project-container">
                        <div class="content-project-category">
                            {{ site.project22_category }}
                        </div>
                        <div class="content-project-name">
                            {{ site.project22_name }}
                        </div>
                    </div>
                    <div class="content-container">
                        <p class="content_text">{{ site.project22_description }}</p>
                        <p class="content_date">{{ site.project22_date }}</p>
                    </div>
                </div>
            </div>
            <div class="portfolio-element">
                <button class="collapsible portfolio-box">
                    <img src="img/portfolio/folio/{{ site.project23_imgs }}" class="img-responsive img-contain img-static" alt="">
                    <img src="img/portfolio/folio-demo/{{ site.project23_img }}" class="img-responsive img-contain img-gif" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ site.project23_category }}
                            </div>
                            <div class="project-name">
                                {{ site.project23_name }}
                            </div>
                        </div>
                    </div>
                </button>
                <div class="content">
                    <div class="content-project-container">
                        <div class="content-project-category">
                            {{ site.project23_category }}
                        </div>
                        <div class="content-project-name">
                            {{ site.project23_name }}
                        </div>
                    </div>
                    <div class="content-container">
                        <p class="content_text">{{ site.project23_description }}</p>
                        <p class="content_date">{{ site.project23_date }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        } 
      });
    }

    // Get the button elements
    var buttons = document.getElementsByClassName("collapsible");

    // Add a click event listener to the buttons
    for (const button of buttons) {
        button.addEventListener("click", function() {
            var toggleOn = true;
            
            // cycle through classes, check for button-clicked class
            for (const curClass of this.classList) {
                if (curClass === "button-clicked") {
                    toggleOn = false;
                }
            }

            // either toggle the button-clicked class on or off
            if (toggleOn) {
                this.classList.add("button-clicked");
            } else {
                this.classList.remove("button-clicked");
            }
        });
    }

    // dynamic selector
    // gather all elements of the portfolio
    // determine selected through two rules
    // 1) element that shows most in viewport
    // 2) element that is highest on screen

    // DOMContentLoaded is an event triggered when pure html is loaded (not images, css, etc.)
    document.addEventListener("DOMContentLoaded", function() {
        // elements are gathered in top to bottom order from html
        var elements = document.querySelectorAll('.portfolio-element');
        var isMouse = false;

        // Check if an element is in viewport (y direction only)
        function isInViewport(element) {
            var rect = element.getBoundingClientRect();
            var adjustedViewportTop = 50;
            var multiplier = 1.98; // between 1 and 2 (only one row of elements affected)
            var adjustedViewportBottom = adjustedViewportTop + (rect.bottom - rect.top) * multiplier;

            return (
                rect.top >= adjustedViewportTop &&
                rect.bottom <= adjustedViewportBottom
            );
        }

        // target element for calculating visibility percentage
        var targetElement = document.getElementById('new-portfolio-container');

        // scroll event fires when an element's scrollbar is scrolled (mouse or touch)
        window.addEventListener('scroll', function() {
            // check location of each portfolio element
            elements.forEach(function(element) {
                // location inside viewport
                var isVisible = isInViewport(element);

                if (isVisible && !isMouse) {
                    element.classList.add('selected'); // Apply class when element is in view
                } else {
                    element.classList.remove('selected'); // Remove class when element is not in view
                }
            });
        });

        // Event listener for mouseover (equivalent to :hover)
        var container = document.getElementById("container-fluid");
        container.addEventListener('mouseover', removeSelected, false);
        container.addEventListener('mousemove', removeSelected, false);
        container.addEventListener('mouseenter', removeSelected, false);
        container.addEventListener('touchstart', touch, false);
        container.addEventListener('touchmove', touch, false);
        container.addEventListener('touchend', touch, false);

        function touch() {
            isMouse = false;
        }

        function removeSelected() {
            // update isMouse
            alert('before probelm');
            isMouse = true;
            alert('after probelm');

            // if hover is triggered, then remove all scroll selection (remove dynamic hovering)
            elements.forEach(function(element) {
                //element.classList.remove('selected');
            });  
        }

        // Event listener for mouseover (equivalent to :hover)
        elements.forEach(function(element) {
            element.addEventListener('mouseover', hover, false);
            element.addEventListener('mousemove', hover, false);
            element.addEventListener('mouseenter', hover, false);

            function hover() {
                // if hover is triggered, then remove all scroll selection (remove dynamic hovering)
                elements.forEach(function(el) {
                    el.classList.remove('selected');
                });  

                element.classList.add('selected');
            }
        });
    });
</script>